public/workflows/report-generator.json
{
  "name": "Gerador de Relat칩rios Autom치ticos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weeksInterval": 1,
              "triggerAtDayOfWeek": 1,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM sales WHERE date >= DATE_SUB(NOW(), INTERVAL 7 DAY)"
      },
      "name": "Get Sales Data",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "toPdf",
        "options": {
          "pageSize": "A4"
        }
      },
      "name": "Generate PDF",
      "type": "n8n-nodes-base.htmlToPdf",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromEmail": "reports@example.com",
        "toEmail": "manager@example.com",
        "subject": "Relat칩rio Semanal de Vendas",
        "text": "Segue em anexo o relat칩rio semanal.",
        "attachments": "data:application/pdf;base64,={{$json[\"data\"]}}"
      },
      "name": "Send Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Get Sales Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Sales Data": {
      "main": [
        [
          {
            "node": "Generate PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate PDF": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
