public/workflows/webhook-notifications.json
{
  "name": "Webhooks & Notificações Real-time",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"event\"]}}",
              "operation": "equals",
              "value2": "payment_success"
            }
          ]
        }
      },
      "name": "Filter Events",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "channel": "#notifications",
        "text": "Novo pagamento recebido! Valor: R$ {{$json[\"amount\"]}}",
        "otherOptions": {}
      },
      "name": "Send Slack Notification",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [650, 250]
    },
    {
      "parameters": {
        "fromEmail": "alerts@example.com",
        "toEmail": "admin@example.com",
        "subject": "Novo Pagamento",
        "text": "Pagamento de R$ {{$json[\"amount\"]}} recebido"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 350]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Events": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
